<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWeTsRMsV4JlkLB01bei0D3QMVN3VrO5k</string>
	<key>GCM_SENDER_ID</key>
	<string>315864846418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.theomarie.FlexSub</string>
	<key>PROJECT_ID</key>
	<string>flexsub-edf76</string>
	<key>STORAGE_BUCKET</key>
	<string>flexsub-edf76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315864846418:ios:ed46dc90c92e4724138f8b</string>
</dict>
</plist>